{% extends 'layout.html' %}

<!-- {% block search %}
<form class="form-inline">
  <input
    class="form-control mr-sm-2"
    id="searchInp"
    onkeyup="mySearch()"
    type="search"
    placeholder="Search"
    aria-label="Search"
  />
</form>
{% endblock %}  -->

{% block body %}

<!-- Filtros -->

<div class="terms-container">
  <div class="terms-header">
    {% if categorie %}
    <div class="terms-title-container">
      <h3 class="terms-title">{{categorie}}</h3>
      {% if userType == "admin": %}
      <a href="/addterm" class="add-icon"><i class="material-icons">add</i></a>
      {% endif %}
    </div>
    {% else %}
    <div class="terms-title-container">
      <h3 class="terms-title">Glossary</h3>
      {% if userType == "admin": %}
      <a href="/addterm" class="add-icon"><i class="material-icons">add</i></a>
      {% endif %}
    </div>
    {% endif %}
    <div class="filters">
      <form action="" method="POST" enctype="multipart/form-data">
        <select class="filter-select" name="categories" id="categories">
          {% for area in areas %}
          <option value="{{area}}">{{area}}</option>
          {% endfor %}
        </select>

        <select class="filter-select" name="format" id="format">
          <option value="list">List</option>
          <option value="table">Table</option>
        </select>
        <button type="submit" id="submit-format" class="filter-btn">
          <i class="material-icons">refresh</i>
        </button>
      </form>
    </div>
  </div>

  <!-- Lista com os termos -->
  <div class="content">
    {% if format_data == "table": %}

    <table id="example" class="display" style="width: 100%">
      <thead>
        <tr>
          <th>Term</th>
          <th>Translation EN</th>
          <th>Translation ES</th>
        </tr>
      </thead>
      <tbody>
        {% for disease, info in designations_table %}
        <tr>
          <td>{{ disease }}</td>
          <td>{{ info["EN"]["Term"] }}</td>
          <td>{{ info["ES"]["Plazo"] }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Term</th>
          <th>Translation EN</th>
          <th>Translation ES</th>
        </tr>
      </tfoot>
    </table>

    {% else %}

    <div class="list-group">
      {% if categorie %} {% for d in dis %}
      <li
        class="term-row list-group-item d-flex justify-content-between align-items-center"
      >
        <a
          href="/term/{{d}}"
          class="term-link list-group-item list-group-item-light btn-outline-secondary"
          id="section-{{ d[0] }}"
          >{{d}}</a
        >
        {% if userType == "admin": %}
        <div class="delete-term-container">
          <button type="button" onclick="deleteTerm('{{d}}')">
            <i class="material-icons">delete</i>
          </button>
        </div>
        {% endif %}
      </li>
      {% endfor %} {% else %} {% for d in dis %}
      <li
        class="term-row list-group-item d-flex justify-content-between align-items-center"
      >
        <a
          href="/term/{{d}}"
          class="term-link list-group-item list-group-item-light btn-outline-secondary"
          id="section-{{ d[0] }}"
          >{{d}}</a
        >
        {% if userType == "admin": %}
        <div class="delete-term-container">
          <button type="button" onclick="deleteTerm('{{d}}')">
            <i class="material-icons">delete</i>
          </button>
        </div>
        {% endif %}
      </li>
      {% endfor %} {% endif %}
    </div>

    {% endif %}
  </div>
</div>
{% endblock %}
