{% extends 'layout.html' %} 

{% block linksnavbar %}

<!-- navbar -->
<a class="nav-link active" aria-current="page" href="/">Home</a>
<a class="nav-link" href="/terms">Medical Terms</a>
<a class="nav-link" href="/terms/search">Search</a>
<a class="nav-link" href="/table">Table</a>

{% endblock %} 

{% block body %}

<div class="container my-5">
<h3 class="p-3 mb-2 bg-secondary text-white rounded" data-toggle="tooltip" data-placement="top" title="Designation">{{designation}}</h3>
<p>
<button
  class="btn btn-outline-secondary"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#collapseDes"
  aria-expanded="false"
  aria-controls="collapseDes"
>
  Description
</button>
<div class="collapse" id="collapseDes">
  <div class="card card-body">{{value['des']}}</div>
</div>
</p>
<p>
<button
  class="btn btn-outline-secondary"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#collapseEn"
  aria-expanded="false"
  aria-controls="collapseEn"
>
  EN
</button>
<div class="collapse" id="collapseEn">
  <div class="card card-body">{{value['en']}}</div>
</div>
</p>
</div>

{% endblock %}
