{% extends 'layout.html' %} {% block linksnavbar %}

<a class="nav-link" aria-current="page" href="/">Home</a>
<a class="nav-link active border border-left-light" href="/terms"
  >Medical Terms</a
>
<a class="nav-link" href="/terms/search">Search</a>

{% endblock %} {% block search %}
<form class="form-inline">
  <input
    class="form-control mr-sm-2"
    id="searchInp"
    onkeyup="mySearch()"
    type="search"
    placeholder="Search"
    aria-label="Search"
  />
</form>

{% endblock %} {% block body %} {%if message%} {{message}} {% endif %}

<!-- Tabela com os termos -->

<div class="container">
  <div class="list-group my-5">
    {% for d in designations %}
    <div
      class="designation d-flex justify-content-between align-items-center list-group-item"
    >
      <a
        href="/term/{{d}}"
        class="list-group-item list-group-item-action mx-auto"
        >{{d}}</a
      >
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
